<!-- slider Area Start -->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="slider-active">
        <div class="single-slider slider-height" data-background="assets/img/hero/h1_hero.jpg">
            <div class="container">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                        <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                            <img src="assets/img/hero/hero_man.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                        <div class="hero__caption">
                            <span data-animation="fadeInRight" data-delay=".4s"style="color:white">New</span>
                            <h1 data-animation="fadeInRight" data-delay=".6s">Winter <br> Collection</h1>
                            <p data-animation="fadeInRight" data-delay=".8s" style="color:white">Best Cloth Collection of 2020!</p>
                            <!-- Hero-btn -->
                            <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                <a [routerLink]="'/products'" class="btn hero-btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="single-slider slider-height" data-background="assets/img/hero/h1_hero.jpg">
            <div class="container">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                        <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                            <img src="assets/img/hero/hero_man.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                        <div class="hero__caption">
                            <span data-animation="fadeInRight" data-delay=".4s">60% Discount</span>
                            <h1 data-animation="fadeInRight" data-delay=".6s">Winter <br> Collection</h1>
                            <p data-animation="fadeInRight" data-delay=".8s">Best Cloth Collection By 2020!</p>

                            <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                <a href="industries.html" class="btn hero-btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- slider Area End-->
<!-- Latest Products Start -->
<app-list-product></app-list-product>
<!-- Latest Products End -->

<!-- Shop Method Start-->
<div class="shop-method-area">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-method mb-40">
                    <i class="ti-package"></i>
                    <h6>Free Shipping Method</h6>
                    <p>Shipping method costs are in addition to the cost of products in the cart and any applicable taxes. A comprehensive list of shipping options allows shoppers to choose the best, most cost effective shipping method for their needs.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-method mb-40">
                    <i class="ti-unlock"></i>
                    <h6>Secure Payment System</h6>
                    <p>Welcome to Secure Payment Systems ("SPS"), a unique payment processing and information services company that specializes in the needs of all businesses from small to national retailers, government and service providers.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-method mb-40">
                    <i class="ti-reload"></i>
                    <h6>Flexible Payment</h6>
                    <p>Credit cards provide a convenient way of making payments, not to mention their secure nature. What's more, the process of making payments using credit cards is typically similar for all websites.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Method End-->

