<div class="container">
  <h1>Product</h1>
  <br/>
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" required [(ngModel)]="model.title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" required rows="6" [(ngModel)]="model.description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input class="form-control" id="price" required [(ngModel)]="model.price" name="price"/>
    </div>
    <div class="form-group">
      <label for="imagePath">Image url</label>
      <input class="form-control" id="imagePath" required [(ngModel)]="model.imagePath" name="imagePath"/>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!productForm.valid">Save</button>
  </form>

</div>
