<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center"
         [ngStyle]="{'background-image': 'url(assets/img/hero/category.jpg)'}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!--================Checkout Area =================-->
  <section class="checkout_area">
    <div class="container">
      <div class="returning_customer" *ngIf="!userLoggedIn">
        <!-- <div class="check_title">
          <h2>
            Returning Customer?
            <a href="#">Click here to login</a>
          </h2>
        </div> -->
        <p>
          If you have shopped with us before, please enter your details in the
          boxes below. If you are a new customer, please proceed to the
          Billing & Shipping section.
        </p>
        <form class="row contact_form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" formControlName="username" name="username" placeholder="User Name">
                <div *ngIf="signInForm.controls.username.touched">
                    <div *ngIf="signInForm.controls.username.hasError('required')" class="text-danger">User Name is required</div>                                    
                </div> 
            </div>                                                        
            <div class="col-md-12 form-group p_star">
                <input type="password" class="form-control" formControlName="password" name="password" placeholder="Password">
                <div *ngIf="signInForm.controls.password.touched">
                    <div *ngIf="signInForm.controls.password.hasError('required')" class="text-danger">Password is required</div>                                    
                </div> 
                
            </div>
          <div class="col-md-12 form-group">
            <button type="submit" value="submit" class="btn_3">
              log in
            </button>
            <!-- <div class="creat_account">
              <input type="checkbox" id="f-option" name="selector" />
              <label for="f-option">Remember me</label>
            </div>
            <a class="lost_pass" href="#">Lost your password?</a> -->
          </div>
        </form>
      </div>
      <form class="row contact_form" [formGroup]="orderForm" (ngSubmit)="onOrderSubmit()">
      
      <div class="billing_details">
        
        <div class="row">
          <div class="col-lg-6">
            <h3>Billing Details</h3>
            
                <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" formControlName="firstName" name="firstName" placeholder="First Name">
                </div>
                <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" formControlName="lastName" name="lastName" placeholder="Last Name">
                </div>
                <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" formControlName="company" name="company" placeholder="Company name">
                </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" placeholder="Phone number"/>
                <div *ngIf="orderForm.controls.phoneNumber.touched && orderForm.controls.phoneNumber.hasError('required')" class="text-danger">Phone number is required</div>
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="email" name="email" formControlName="email" placeholder="Email Address"/>
                <div *ngIf="orderForm.controls.email.touched">
                    <div *ngIf="orderForm.controls.email.hasError('required')" class="text-danger">email is required</div>
                    <div *ngIf="orderForm.controls.email.hasError('normalEmailRule')" class="text-danger">email format is wrong</div>
                </div> 
              </div>
              <!-- <div class="col-md-12 form-group p_star">
                <select class="country_select">
                  <option value="1">Country</option>
                  <option value="2">Country</option>
                  <option value="4">Country</option>
                </select>
              </div> -->
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="streetaddress" name="streetaddress" formControlName="streetaddress" placeholder="Address line"/>
                <div *ngIf="orderForm.controls.streetaddress.touched && orderForm.controls.streetaddress.hasError('required')" class="text-danger">Address is required</div>
              </div>
              <!-- <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="add2" name="add2" />
                <span class="placeholder" data-placeholder="Address line 02"></span>
              </div> -->
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="city" name="city" formControlName="city" placeholder="Town/City"/>
                <div *ngIf="orderForm.controls.city.touched && orderForm.controls.city.hasError('required')" class="text-danger">city is required</div>
              </div>
              <!-- <div class="col-md-12 form-group p_star">
                <select class="country_select">
                  <option value="1">District</option>
                  <option value="2">District</option>
                  <option value="4">District</option>
                </select>
              </div> -->
              <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP" formControlName="zip"/>
                <div *ngIf="orderForm.controls.zip.touched && orderForm.controls.zip.hasError('required')" class="text-danger">zip is required</div>
              </div>
              <div class="col-md-12 form-group" *ngIf="!userLoggedIn">
                <div class="creat_account">
                  <input type="checkbox" id="f-option2" name="selector" formControlName="createAnAccount"/>
                  <label for="f-option2">Create an account?</label>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <!-- <div class="creat_account">
                  <h3>Shipping Details</h3>
                  <input type="checkbox" id="f-option3" name="selector" />
                  <label for="f-option3">Ship to a different address?</label>
                </div> -->
                <textarea class="form-control" name="message" id="message" rows="1" formControlName="message"
                  placeholder="Order Notes"></textarea>
              </div>
            
          </div>
          <div class="col-lg-6">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li>
                <li *ngFor="let item of order.products">
                  <a href="#">{{item.title}}
                    <!-- <span class="middle">{{item.quantity}}</span> -->
                    <span class="last">{{item.price}}</span>
                  </a>
                </li>
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Subtotal
                    <span>{{order.subTotalPrice}}</span>
                  </a>
                </li>
                <li>
                  <a href="#">Shipping
                    <span>{{order.shippingPrice}}</span>
                  </a>
                </li>
                <li>
                  <a href="#">Points percent
                    <span>{{order.coupon.percentage}}</span>
                  </a>
                </li>
                
                <li>
                  <a href="#">Total
                    <span>{{order.totalPrice}}</span>
                  </a>
                </li>
              </ul>
              <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option5" name="selector" formControlName="paymentMethod" name="paymentMethod"/>
                  <label for="f-option5">Credit/Debit Card</label>
                  <div class="check"></div>
                </div>
              </div>
              <div class="payment_item">
                <div class="col-md-12 form-group p_star">
                  <input type="number" class="form-control" formControlName="cardNo" name="cardNo" placeholder="Card No">
                  <div *ngIf="orderForm.controls.cardNo.touched">
                    <div *ngIf="orderForm.controls.cardNo.hasError('required')" class="text-danger">card No is required</div>
                    <div *ngIf="orderForm.controls.cardNo.hasError('maxLength') || orderForm.controls.cardNo.hasError('minLength')" 
                    class="text-danger">card No format is wrong min 13 digit and max 19 digit</div>
                </div> 
                </div>
                <div class="col-md-12 form-group p_star">
                  <input type="text" class="form-control" placeholder="Enter coupon code" formControlName="couponCode" name="couponCode" />
                </div>
                
              </div>
              

              <div class="payment_item active">
                <div class="radion_btn">
                  <input type="radio" id="f-option6" name="selector" />
                  <label for="f-option6">Paypal</label>
                  <img src="img/product/single-product/card.jpg" alt="" />
                  <div class="check"></div>
                </div>
              </div>
              <div class="creat_account">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>
              </div>
              <button type="submit" value="submit" class="btn_3" [disabled]="!orderForm.valid">Proceed with Payment</button>
            </div>
          </div>
        </div>
      
      <p *ngIf="showFormValue">
        form value: {{ orderForm.value | json }} <br>
        form valid: {{ orderForm.valid }}
     </p>
      </div>  
    </form>  
    </div>
  </section>
  <!--================End Checkout Area =================-->
